In [54]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [55]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [56]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [57]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract
import datetime as dt

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement.date, Measurement.tobs).filter(func.strftime('%m', Measurement.date) == '06').order_by(Measurement.date).all()

In [58]:
# 2. Convert the June temperatures to a list.
june_list = list(june_temps)
june_list[0:10]

[('2010-06-01', 78.0),
 ('2010-06-01', 74.0),
 ('2010-06-01', 73.0),
 ('2010-06-01', 77.0),
 ('2010-06-01', 69.0),
 ('2010-06-01', 76.0),
 ('2010-06-01', 71.0),
 ('2010-06-01', 74.0),
 ('2010-06-01', 70.0),
 ('2010-06-02', 76.0)]

In [59]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_list)
june_temps = june_temp_df.rename(columns={'tobs': 'June Temps'})
june_temps.head()

         date  June Temps
0  2010-06-01        78.0
1  2010-06-01        74.0
2  2010-06-01        73.0
3  2010-06-01        77.0
4  2010-06-01        69.0

In [60]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [61]:
# 5. Return to your challenge instructions to compare your summary statistics

## D2: Determine the Summary Statistics for December

In [62]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.date, Measurement.tobs).filter(func.strftime('%m', Measurement.date) == '12').order_by(Measurement.date).all()
dec_temps[0:10]

[('2010-12-01', 76.0),
 ('2010-12-01', 73.0),
 ('2010-12-01', 73.0),
 ('2010-12-01', 72.0),
 ('2010-12-01', 78.0),
 ('2010-12-01', 72.0),
 ('2010-12-01', 70.0),
 ('2010-12-01', 71.0),
 ('2010-12-02', 72.0),
 ('2010-12-02', 73.0)]

In [63]:
# 7. Convert the December temperatures to a list.
type(dec_temps)

list

In [64]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df = pd.DataFrame(dec_temps, columns = ['Date','December Temps'])
dec_temp_df.head()

         Date  December Temps
0  2010-12-01            76.0
1  2010-12-01            73.0
2  2010-12-01            73.0
3  2010-12-01            72.0
4  2010-12-01            78.0

In [65]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [68]:
# 10. Return to your challenge instructions to compare your summary statistics

In [69]:
# ADDITIONAL QUERIES

# Summary statistics for precipitation in June
june_precip = session.query(Measurement.date, Measurement.prcp).filter(func.strftime('%m', Measurement.date) == '06').order_by(Measurement.date).all()
june_precip_list = list(june_precip)
june_precip_df = pd.DataFrame(june_precip_list, columns=['Date', 'June Precipitation'])
june_precip_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [70]:
# Summary statistics for precipitation in December
dec_precip = session.query(Measurement.date, Measurement.prcp).filter(func.strftime('%m', Measurement.date) == '12').order_by(Measurement.date).all()
dec_precip_list = list(dec_precip)
dec_precip_df = pd.DataFrame(dec_precip_list, columns=['Date', 'December Precipitation'])
dec_precip_df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000